# when not working try this to update the ignored files
# git rm -r --cached .
# git add .
# git commit -m "fixed untracked files"



*~
*.*~
*.zip
*.tar.gz

# html
*_files/*



# videos
*.mp4
*.srt

# python stuff
*.pyc
*.pyo
*/__pycache__/*

# manuals
environment/emacs_use/*_files/*
language/courses/*
language/books/*
# language/test/__pycache__/*

#courses
!language/courses/interactive_programming_with_python/
language/courses/interactive_programming_with_python/projects/rock-paper-scissors-lizard-Spock/doc/*
language/courses/interactive_programming_with_python/lectures/*
!language/courses/interactive_programming_with_python/lectures/*.html

!language/courses/interactive_programming_with_python/lectures/2/Interactive_applications_in_Python.html

